<div class="admin-nav">
	<%= link_to("Add Movie", new_admin_path) %>
</div>

<div class="movie-list center-align row">
	<% @movies.each_with_index do |movie, index| %>
		<div class="col s12 m4">
			<div class="movie-image">
				<%= image_tag(movie.image.url(:med)) %>
			</div>
			<div class="movie-title">
				<%= link_to(movie.title, edit_admin_path(movie)) %>
			</div>
		</div>
	<% end %>
</div>
