<div class="container">
	<div class="main">
		<div class="header-text">
			<h3>Welcome Admin!</h3>
		</div>

		<div class="movie-list">
			<% @movies.each_with_index do |movie, index| %>
				<div class="row">
					<%= link_to(movie.title, edit_admin_path(movie)) %>
				</div>
			<% end %>
		</div>
	</div>
</div>