<div class="latest-reviews">
	<h3 class="center">Latest Reviews</h3>
	
	<% @reviews.each do |review| %>
	<div class="row movie-wrapper">
		<div class="col s4">
			<div class="commented-in">
				<h6><%= review.movie.title %></h6>
			</div>
		</div>
		<div class="col s8">
			<%= render partial: "review", locals: {review: review} %>
		</div>

	</div> <!-- .movie-wrapper -->
	<% end %>
	
</div> <!-- .lastest-commented -->