<div class="latest-reviews">
	<h3 class="center">Latest Reviews</h3>
	
	<% @reviews.each do |review| %>
	<div class="row card hoverable review">
		<div class="col s4">
			<div class="commented-in">
				<h6><%= link_to(review.movie.title, movie_reviews_path(review.movie)) %></h6>
			</div>
		</div>
		<div class="col s8">
			<%= render partial: "review", locals: {review: review} %>
		</div>

	</div> <!-- .movie-wrapper -->
	<% end %>
	
</div> <!-- .lastest-commented -->