.main {
	margin: 24px 0;
}

.margin-left-10 {
	margin-left: 10px;
}

.movie-poster > img {
	max-width: 100%;
  max-height: 500px;
}

.user-meta > span {
	margin: 0 8px;
	font-size: 12px;
	font-weight: 600;
}

.rating-select {
	width: 32px;
}

.user-review p {
	margin-top: 0;
	white-space: pre-wrap;
}

.delete {
	margin-top: 20px;
}

.divider {
	margin: 10px 0;
}

.back-button {
	margin: 10px 0;
}

/*.movie-card {
	width: 250px;
	display: inline-block;
	text-align: center;
}*/