// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.registration-card {
	width: 100%;
}

@media screen (min-width: 600px) {
	.registration-card {
		width: 600px;
	}
}

.registration-card {
	background-color: black;
}