<% if flash[:notice] %>
	<div class="notice-message green-text">
		<ul>
			<% flash[:notice].each do |msg| -%>
				<li><%= msg %></li>
			<% end -%>
		</ul>
	</div>
<% end %>

<!-- ERROR MESSAGES -->
<% if flash[:error] %>
	<div class="error-messages red-text">
		<ul>

			<% flash[:error].each do |msg| -%>
		    <li><%= msg %></li>
		  <% end -%>

		</ul>

	</div>
<% end %>