<div class="row movie-wrapper">

	<div class="col s12 m4 movie-poster center">
		<%= image_tag(movie.image.url(:med)) %>
	</div>

	<div class="col s12 m8 movie-info">
		<div class="row">
			<div class="col s12 movie-rating">
				<p>Avg. Rating: <%= averageRating(movie) %></p>
			</div>
			<div class="col s12 movie-title">
				<h4><%= movie.title %></h4>
			</div>
			<div class="col s12 movie-synopsis">
				<h6><%= movie.synopsis %></h6>
			</div>
			
		</div>
	</div>

</div> <!-- .movie-wrapper -->