<div class="user-review">
	<div class="user-info">
		<div class="user-meta">
			<span><%= review.user.alias %></span> <span class="user-rating">Rated: <%= review.rating %></span>
		</div>
		
		<div class="user-comment">
			<p><%= review.comment %></p>
		</div>
	</div>
</div>