<%= render "movie_details" %>

<div class="post-review right-align">
	<%= link_to(new_movie_review_path(@movie), class: "btn-floating btn-small waves-effect waves-light green") do %>
		<i class="mdi mdi-plus"></i>
	<% end %>
</div>

<%= render "reviews" %>
